#python-poppler - vem no tesseract
pytesseract==0.3.10

# para o docker usar opencv-python-headless
#opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66

# ler e gravar PDF
PyPDF2==3.0.1
pdf2image==1.16.0

# utilitários
filelock==3.8.0

# serviço
Flask==2.2.5
Flask-Cors==3.0.10
bootstrap-flask==2.0.2

gunicorn==20.1.0
