<!-- Modal -->
<div class="modal fade" id="enviopdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Arquivo PDF ou Imagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body ">
                <table class="table table-hover table-sm small">
                    <thead><tr><th>Opções para PDF</th><th>Opção geral</th></tr></thead>
                    <tbody>
                        <tr><td><input type="checkbox" name="gerar_pdf" CHECKED id="gerar_pdf"> Gerar PDF/OCR<br>
                                <input type="checkbox" name="gerar_img" CHECKED id="gerar_img"> Gerar saída HTML/MD
                        </td><td><input type="checkbox" name="ignorar_cache" id="ignorar_cache"> Ignorar cache</td></tr>
                    </tbody>
                </table>

                Exemplo: 
                <select class="selectpicker" data-width="fit"  name="exemplo" id="exemplo">
                    {% for exemplo in exemplos %}		
                    <option value="{{exemplo[0]}}" {{exemplo[1]}}>{{exemplo[0]}}</option>
                    {% endfor %}		
                 </select>
                <br><br>
                <input type = "file" name = "pdf"><input class="btn btn-primary" type = "submit">
                <br><br>
                <table class="table table-hover table-sm small">
                    <thead>
                     <tr><th>PDF</th><th>JPG/TIFF/PNJ</th></tr>
                    </thead>
                    <tbody>
                     <tr><td>Podem gerar PDF com camada OCR ou mapa para geração de HTML e/ou MD</td>
                     <td>Sempre criam um mapa para geração de HTML e/ou MD</td></tr>
                    </tbody>
                </table>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

