{% if texto_ocr %}
            {% if tempo %}
                <div class="alert alert-info" role="alert">
                  Tempo de processamento: {{ tempo }}
                </div>		
            {% endif %}
            <div class="card">
             <div class="card-header">Conteúdo do documento ocerizado ( {{tipo_folha}} )</div>
             <div class="card-body">
              <div class="form-group shadow-textarea text-left">
                {{ texto_ocr }}
              </div>
             </div>
            </div>
        {% endif %}		
